{% extends 'client/client_base.html' %}


{% block title %} CryptoVision Password Confirmation Page {% endblock %}


{% block content %}
    <div class="confirmation-form-wrapper">
        <h1>Reset Password</h1>
        <p>A confirmation token was send via email to {{user_data.email}}</p>

        <form class="confirmation-form" action="{% url 'password_confirmation' %}" method="post">
            {% csrf_token %}
            <div class="input-group">
                <label for="token">Confirmation Token</label><br>
                <input type="text" id="token" name="token"><br>
            </div>
    
            <!-- Hidden field to send a variable back to the view -->
            <input type="hidden" name="new_password" value="{{ new_password }}">

            <!-- Add more fields as needed -->
            <input type="submit" value="Reset Password">
        </form>
    </div>
{% endblock %} 

